.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.ProductList div{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: lightblue;
}

.ProductList img{
  max-width: 250px;
  background-color: white;
}