.HeaderSection {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin-bottom: 10px;
}
.search {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.searcher {
  width: 200px;
  padding: 10px;
  border: 0; 
  background-color: transparent;
}
.search i { 
  margin: 3px;
}
.searcher:focus {
  outline: none;
}
.pink-text {
  color: palevioletred;
  font-size: 23px;
}