.Footer {
  background-color: #454552;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.Footer .footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer-links ul {
  display: flex;
  list-style: none;
}
.footer-links i {
  color: white;
  font-size: 22px;
}
.Footer .footer-links a {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  transition: all 100ms linear;
}
.footer-links a:hover {
  color: rgb(197, 197, 197);
}
.Footer .info {
  color: white;
  margin-left: auto;
}