@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Product {
  display: flex;
}
.Product img {
  margin-right: 20px;
  max-width: 500px;
}
.Contacts i {
  color: #555555;
  margin-right: 8px;
}
.Cart .order {
  background-color: #e85a71;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 15px;
}
.Cart .order:hover {
  background-color: rgb(255, 130, 151);
}
.Category h2 {
  margin-left: 10px;
}
@media (max-width:720px) {
  .Product {
    display: flex;
    flex-direction: column;
  }
}