.Nav .NavItem {
  margin: 0;
  position: sticky;
  display: flex;
  background-color: #1e4083;
  justify-content: right;
  list-style: none;
}
.Nav .NavItem a {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}