.Nav .NavItem {
  margin: 0;
  display: flex;
  list-style: none;
}
.Nav .NavItem a {
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}
.Nav {
  background-color: #2455b8;
  position: sticky;
  top: 0;
}